apiVersion: v1
kind: Namespace
metadata:
  name: apps
  labels:
    name: apps
    usage: personal-applications

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: resume
  namespace: apps
  labels:
    app: resume
spec:
  replicas: 1
  selector:
    matchLabels:
      app: resume
  template:
    metadata:
      labels:
        app: resume
    spec:
      containers:
        - name: web
          image: zot.zot/parinpan/resume:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 9000
          env:
            - name: build_date
              value: "{{build_date}}"

---
apiVersion: v1
kind: Service
metadata:
  name: resume-service
  namespace: apps
spec:
  ports:
    - port: 9000
      targetPort: 9000
  selector:
    app: resume
