.profile {
    font-size: var(--sz-body);
    line-height: var(--lh);
    text-align: justify;
    text-align-last: left;
    break-inside: avoid;
}

.pageBreakBefore {
    break-before: page;
}

@media screen and (max-width: 1200px) {
    .profile {
        text-align: left;
    }
}