name: Build & Deploy

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config-inline: |
            [registry."zot.zot.svc.cluster.local"]
              http = true
              insecure = true

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: zot.zot.svc.cluster.local/parinpan/resume:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    name: Production Deployment
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare deployment manifest
        run: |
          sed -ie "s/{{build_date}}/$(date)/g" deployment.yaml

      - name: Deploy to Kubernetes
        uses: actions-hub/kubectl@v1.29.0
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_DATA }}
        with:
          args: apply -f deployment.yaml --validate=false
